* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #fff;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}
#img{
    height: 60px;
    width: 60px;
    margin: 5px 0px 0px 0px;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #555;
}
nav a:hover{
    color: skyblue;
}
.btn {
    padding: 10px 18px;
    border: none;
    background: #f7c948;
    cursor: pointer;
    border-radius: 5px;
}

.main {
    display: flex;
    padding: 60px;
    background: linear-gradient(to right, #fff 60%, #63c6d4 40%);
    /* border-radius: 180px; */
    margin-right: 50px;
}

.main-text {
    width: 50%;
}

.main-text h1 {
    font-size: 48px;
}

.main-text span {
    color: #f7c948;
}

.hero-text p {
    margin: 20px 0;
    color: #666;
}

.input-box {
    display: flex;
}

.input-box input {
    padding: 12px;
    width: 250px;
    border: 1px solid #ccc;
}

.input-box button {
    padding: 12px;
    border: none;
    background: #63c6d4;
    color: white;
}

.main-img img {
    width: 320px;
    margin-left: 270px;
}

.about {
    display: flex;
    padding: 80px;
    background: #fff;
}

.about-text {
    width: 50%;
}

.bg-text {
    font-size: 80px;
    color: #eee;
}

.about-img img {
    width: 260px;
    margin-left: 160px;
    height :8cm;
    width: 10cm;
}

.tech {
    padding: 60px;
    background: #2f3e4e;
    color: white;
    text-align: center;
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}
.tech-box {
    background: #3f4f61;
    padding: 20px;
    border-radius: 8px;
}
.tech-box:hover{
    background-color: skyblue;
    cursor: pointer;
}

.features {
    display: flex;
    padding: 80px;
    background: #fff;
}

.feature-text {
    width: 50%;
}

.feature-img img {
    width: 300px;
    border-radius: 40px;
}